#container{
    position: relative;
    overflow: auto;
    width: 3200px;
    height: 1600px;

    #canvas1{
        background: #DCDCDC;
        z-index: 10;
        position: sticky;
        left: 0px;
        padding-right: 0px;

    }

    #canvas2{
        background: #DCDCDC;
        position: sticky;
        z-index: 10;
        margin-left: 40px;
        margin-top: -4px;
        top: 0;
    }
    #canvas3{
        background: white;
        position: absolute;
        z-index: 0;
    }
    #ipbox{
        position: absolute;
        display: none;
        top: 40px;
        left: 40px;
        height: 31px;
        width: 139px;
        // border: none;
        z-index: 0;
        border: 4px solid black;
        border-radius: 0;
        font-size: 20px;
        font-family: Quicksand;
    }

}