#container{
    position: relative;
    overflow: auto;
    width: 2000px;
    height: 800px;

    #canvas1{
        background: #DCDCDC;
        z-index: 10;
        position: sticky;
        left: 0px;
        padding-right: 0px;

    }

    #canvas2{
        background: #DCDCDC;
        position: sticky;
        z-index: 10;
        margin-left: 20px;
        margin-top: -4px;
        top: 0;
    }
    #canvas3{
        background: white;
        position: absolute;
        z-index: 0;
    }
    #ipbox{
        position: absolute;
        display: none;
        top: 40px;
        left: 20px;
        height: 17px;
        width: 95px;
        // border: none;
        z-index: 10;
        border: 1px solid black;
        border-radius: 0;
        font-size: 14px;
        font-family: calibri;
    }
    
    #dottedline{
        position: absolute;
        display: none;
        height: 2000px;
        width: 5000px;
        z-index: 100;
    }
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}